.card-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 60px;
   ;
}
.form-control {
    border-radius: 3px;
    width: 300px;
    margin-left: 20px;
    border: none;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 68%;
    top: 100px;
    color: #5BC43B;
}
.item {
    margin: 0px 30px;
    text-align: center;  
}

.item a:hover {
    color: #5BC43B;
}

.card {
    padding: 5px;
    /* height: 500px; */
    /* margin: 2px; */
}