.card-top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 60px;
   
}

.item {
    margin: 0px 30px;
    text-align: center;  
}

.item a:hover {
    color: #5BC43B;
}

.card {
    padding: 20px;
    border-radius: 10px;
    /* border: none; */
    /* height: 300px; */
    /* margin: 2px; */
}