<div class="container mt-4 mb-5 " style="background-color: #F4F1D0;">
    <h1 style="font-size: 24px;">Profile</h1>
    <div class="profile-info row p-5 rounded" style="background-color: #fff!important;" >
        <h3 class="mb-4">John Doe</h3>

        <div class="col-md-3 d-flex">
            <i class="fa-solid fa-envelope mt-3"></i>
            <p class="d-flex flex-column ms-2"><span>Email Address</span><span>johndoe@gmail.com</span></p>
        </div>
        <div class="col-md-3 d-flex ps-4" style="border-left: 2px solid #eee;">
            <i class="fa-solid fa-mobile-screen-button mt-3"></i>
            <p class="d-flex flex-column ms-2"><span>Mobile Number</span><span>+2547000878</span></p>
        </div>
        <div class="col-md-3 d-flex  ps-4" style="border-left: 2px solid #eee;">
            <i class="fa-regular fa-calendar-days mt-3"></i>
            <p class="d-flex flex-column ms-2"><span>Date of Birth</span><span>dd/mm/yyyy</span></p>
        </div>
        <div class="col-md-3 d-flex  ps-4" style="border-left: 2px solid #eee;">
            <i class="fa-solid fa-user mt-3"></i>
            <p class="d-flex flex-column ms-2"><span>Title</span><span>Mr</span></p>
        </div>
    </div>
       
    
</div>
