.form-control {
    border-radius: 3px;
    width: 300px;
    margin-left: 20px;
}
.collapse li {
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.collapse li :hover {
    box-shadow: 0px 8px 8px 0px rgba(2, 2, 2, 0.952);
    transition: all 0.2s ease-in-out;
    color: #5BC43B;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 28%;
    top: 30px;
    color: #5BC43B;
}